<!-- search.html -->

{% extends 'main/base.html' %}

{% block content %}
<style>
  .top h1 {
    font-family: 'Exo 2', sans-serif;
  }
  .body {
    border-radius: 15px 50px;
    padding: 20px; 

    display: grid;
    grid-gap: 10px;
    grid-template-columns: /*0.4fr*/ 1fr /*0.3fr */
    /*repeat(auto-fit, minmax(200px, 1fr));*/
  }

  .filter {
    background: var(--primary);
    text-align: center;
  }

  .topCourses {
    background: var(--primary);
    text-align: center;
  }

  .main {
    background: var(--primary); 
    text-align: center;
    /*padding-left: 1rem;*/
    /*padding-right: 1rem;*/
    padding-top: 10px;
    padding-bottom: 20px;
  }

  .main li{
    text-align: left;
    padding-left: 30px;
  }

  footer {
    margin-top: 2rem;
    background: var(--dark);
    color: var(--light);
    /*text-align: center;*/
    padding: 1rem;
  }

</style>

<div class="top">
  <h1>School Search</h1>
  <h3>Select your school below. If not present, please contact xxx@xxx.com to get your school listed!</h3>
</div>

<div class="body">
  <!-- <div class="filter">
    <h3>Filter Search:</h3>
  </div> -->
  <div class="main">
    <h3>Search Results: </h3>

    {% for instance in result %}
          <!-- <li class="school">{{ school_list.name }}</li> -->
      <!-- <h3>{{ instance.courseNumber }}, {{ instance.name }}</h3> -->
      <!-- <p>{{ instance.name }} ({{ instance.abbrev }})</p> -->
        <li><a href="/search/{{ instance.abbrev }}">{{ instance.name }} ({{ instance.abbrev }})</a></li>
        <p></p>
      <!-- <a href="search/{{ instance.courseNumber }}"><li class="school">{{ instance.name }}</li> -->
    {% endfor %}
  </div>
<!--   <div class="topCourses"> 
    <h3>Top Courses: </h3>
  </div> -->
</div>

{% endblock %}
